.volunteer-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 768px) {
  .volunteer-page {
    flex-direction: row;
    gap: 5%;
  }
}

.left-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .left-side {
    width: 45%;
  }
}

.side-content {
  text-align: center;
}

.image-stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stacked-image {
  width: 80%; /* Decreased the width */
  height: auto; /* Maintains aspect ratio */
  border-radius: 8px;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

@media (min-width: 768px) {
  .form-section {
    flex-direction: row;
  }
}

.form-container {
  flex: 2;
  padding: 20px;
}

@media (min-width: 768px) {
  .form-container {
    padding: 70px;
  }
}

.volunteer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.form-group {
  flex: 1;
}

.food-total-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .food-total-group {
    flex-direction: row;
    gap: 10%;
  }
}

.food-count-group,
.total-amount-group {
  flex: 1;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black; /* Text color set to black */
}

.submit-btn {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.submit-btn:hover {
  background-color: #218838;
}

.qr-code-container {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

@media (min-width: 768px) {
  .qr-code-container {
    padding: 100px;
  }
}

.qr-code-image {
  width: 300px; /* Increased the width */
  height: 300px; /* Increased the height */
}

@media (min-width: 768px) {
  .qr-code-image {
    width: 400px; /* Increased the width for larger screens */
    height: 400px; /* Increased the height for larger screens */
  }
}

.upload-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-container {
  margin-bottom: 20px;
  text-align: left;
  padding: 0px;
}
